$grey: #121212 !default;
$grey-light-1: !default;
$grey-light-2: !default;
$grey-light-3: !default;
$grey-light-4: !default;
$white: #FFFFFF !default;
$white-dark-1: !default;
$white-dark-2: !default;
$white-dark-3: !default;
$white-dark-4: !default;
$red: !default;
$red-light-1: !default;
$red-light-2: !default;
$red-light-3: !default;
$red-light-4: !default;
$red-dark-1: !default;
$red-dark-2: !default;
$red-dark-3: !default;
$red-dark-4: !default;
$orange: !default;
$orange-light-1: !default;
$orange-light-2: !default;
$orange-light-3: !default;
$orange-light-4: !default;
$orange-dark-1: !default;
$orange-dark-2: !default;
$orange-dark-3: !default;
$orange-dark-4: !default;
$yellow: !default;
$yellow-light-1: !default;
$yellow-light-2: !default;
$yellow-light-3: !default;
$yellow-light-4: !default;
$yellow-dark-1: !default;
$yellow-dark-2: !default;
$yellow-dark-3: !default;
$yellow-dark-4: !default;