/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
  background-color: #fff;

  &__inner-wrap {
    @include clearfix;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  --switch-height: 20px;
  --sun-color: #FFD734;
  --day-color: #FFF; //#7BC3D9;
  --moon-color: #FFF8DE;
  --night-color: #121212;//#041A40;

  .theme-switch {
    position: relative;
    width: calc(var(--switch-height) * (175 / 100));
    height: var(--switch-height);
    cursor: pointer;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    position: absolute;
    background-color: var(--night-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16) inset, 0 0 2px 2px rgba(0, 0, 0, 0.08) inset;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    top: calc(var(--switch-height) * (10 / 100));
    left: calc(var(--switch-height) * (10 / 100));
    width: calc(var(--switch-height) * (80 / 100));
    height: calc(var(--switch-height) * (80 / 100));
    box-shadow: inset calc(var(--switch-height) * (30 / 100)) calc(var(--switch-height) * (-10 / 100)) 0px 0px var(--moon-color);
    background-color: var(--night-color);
    transition: 0.75s;
  }
  
  input:checked + .slider {
    background-color: var(--day-color);
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--switch-height) * (10 / 100)));
    transform: translateX(-100%);
    background-color: var(--sun-color);
    box-shadow: none;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  font-size: $type-size-5;
  // z-index: 20;
}

.site-subtitle {
  display: block;
  text-transform: uppercase;
  font-size: $type-size-7;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 0;
    font-weight: 700;
  }
}
