.seasonSearch {
  width: 50%;
  font-size: 16px;
}

.seasonSearch:hover {
  border-color: var(--primary-color);
}

#seasonList {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--layer-0);
  color: var(--text-color);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0 !important;
  font-size: 24px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  color: var(--primary-color);
}

.collapsible:after {
  content: "⮟";
  font-size: 12px;
  float: right;
  margin-left: 10px;
  margin-top: 6px;
}

.active:after {
  content: "⮞";
}

/* Style the collapsible content. Note: hidden by default */
.content {
  max-height: 0;
  overflow: hidden;
  margin-left: 24px;
  margin-right: 24px;
  transition: max-height 0.5s ease-out;
}

#season__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.season__link {
  text-decoration: none;
}
.season__link:hover {
  text-decoration: underline;
}
